{% extends 'base.html.twig' %}

<!-- Styles -->
{% block stylesheets %} 
   <style> 
      .table { border-collapse: collapse; } 
      .table th, td { 
         border-bottom: 1px solid #ddd; 
         width: 250px; 
         text-align: left; 
         align: left; 
      } 
   </style> 
{% endblock %} 
{% block body %} 
    <div id="container">
        <h2>{{ isAdminLogin ? 'ADMIN' : '' }} {{ loginHeaderText }}</h2>
            {{ form_start(form) }}
                <ul class="login">
                    <li>
                        <ul class="login-labels">
                            <li><label for="username">Username: </label></li>
                            <li><label for="password">Password: </label></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="login-ctrls">
                            <li><input type="text" id="username" name="username" /></li>
                            <li><input type="password" id="password" name="password" /></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="login-ctrls">
                            <li>{{ submitButtonHTML }}</li>
                            <li><input type="password" id="password" name="password" /></li>
                        </ul>
                    </li>
                </ul>
            {{ form_end(form) }}
                <ul class="login-stats">
                    <li>
                        <ul class="stats-labels">
                            <li>Site logins:</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="stats-values">
                            <li>{{ number_format( totalSiteLogins ) }}</li>
                        </ul>
                    </li>
                </ul>
    </div>
{% endblock %}